@import './reset.css';


body{
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    width: 100vw;
    height: 120px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: var(--cor-principal);
}

header #logo-site a {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 3rem;
    color: #fff;
}